<!DOCTYPE html>
<html lang="en">
{{>header}}


<body>

 {{>navbar}}
    <!-- main header -->
    <div class="container-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                      <!-- for right -->
                      <div class="col-md-6 col-12 main_header_left align-items-center ak justified-content-center">
                        <figure class="errimg">
                            <img src="img/under123.webp" class="img-fluid"  title="Zoro" alt="">
                        </figure>
                  
                            <p>Welcome to Weather app</p>
                            <h2>{{errorMsg}}</h2>
                            <a href="/"><button>Go Back</button></a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>

</html>