<!DOCTYPE html>
<html lang="en">
{{>header}}


<body>

 {{>navbar}}
    <!-- main header -->
    <div class="container-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                      <!-- for right -->
                      <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/weather-ios-logo.png" class="img-fluid" width="300px" title="Zoro" alt="">
                        </figure>
                    </div>
                    <!-- for left -->
                    <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to Weather app</p>
                            <h2>We Are <span class="text_clr">Weather Experts </span> Or It's Kind Of I am</h2>
                            <a href="/itwillgiveerror"><button>About Us</button></a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>

</html>