<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>

    {{>navbar}}

     <form action="/" method="POST" class="c-site ">
                
                <input class="in" placeholder="Enter Your Name" type="text" name="fullname" required>
                <input class="in" placeholder="Enter Your Phone no" type="text" name="number" required>
                <input class="in" placeholder="Enter Your Gmail" type="email" name="email" required>
                <textarea class="in" placeholder="Enter Your Password" name="extra"  >
          
                </textarea>
                  
                 <input type="submit"  class="btn-c-in" value="Submit">
            </form>
    
    {{>footer}}
</body>
</html>