@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    text-shadow: 0px 4px 60px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;

}

html {
    font: 62.5%;
    /* background-color: red; */
    /* 1rem=10px */
}

.row {
    margin: 0px;
    justify-content: center;
}

.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    color: #fff;
    background-color: var(--main-bg) !important;
    padding: 1.4rem 0rem;

}

.ak {
    text-align: center;
    margin: 1rem 0px;
}

.navbar a {
    color: white;
    font-size: 1.4rem;


}

.navbar a:hover {
    color: var(--main-color);
    transform: scale(1.1);
    transition: all 0.4s linear;

}

#lolo:hover {
    color: #fff;
    transform: scale(1.1);
    transition: all 0.4s linear;


}

.navbar-toggler {
    background-color: var(--main-bg);

    color: white !important;
}

.navbar li {
    padding-left: 2rem;
}

.fa-snowflake {
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flim {
    padding-left: 2px;
    padding-right: 2px;
}

/* main header */
.main_header_left {
    height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 1.1rem;
}

.main_header_left h2 {
    font-size: 2.1rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.text_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);

}

.main_header_right {
    height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.main_header_right figure img {
    /* box-shadow: 0 18px 6px -6px var(--main-color); */
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));


}

/* footer */

footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    line-height: 3.4rem;
    font-size: 1.1rem;
}

/* reponsive */

@media(max-width:768px) {
    .main_header_left {
        height: auto;
        margin: 5rem 0px;
        text-align: center;
        align-items: center;
    }

    .main_header_right {
        height: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

/* Its About Weather page */

.temp_form {
    width: 60%;
    position: relative;
    margin: 3rem auto;
    margin-bottom: 2rem;
}

.temp_form input[type='text'] {
    width: 100%;
    padding: 1rem;
    background: #1e202b;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.1rem;
    border-radius: 3rem;
}

::placeholder {
    color: #bfc1c8;
}

.temp_form input[type='submit'] {
    position: absolute;
    /* height: 2px; */
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: none;
    background-color: #009ad8;
    padding: 0 2rem;
    border-radius: 3rem;
    color: white;
    font: 1.1rem;


}

.temp_form input[type='submit']:hover {
    color: #009ad8;
    background-color: #fff;
}

.temp_info {
    width: 35%;
    ;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    /* padding:1rem ; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top_layer {
    color: #fff;
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;

}

.top_layer p {

    padding: 1.3rem;
    margin-bottom: 0;
}

@media(max-width:1214px) {
    .temp_info {
        width: 65%;
    }

    .temp_form {
        width: 80%;
    }
}

@media(max-width:594px) {
    .temp_info {
        width: 80%;
    }

    .temp_form {
        width: 90%;
    }
}



.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.main_layer #city_name_given {
    /* padding:2rem 0 ; */
    color: #bfc1c8;
    font-weight: 300;
    font-size: 1.4rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 3rem;
    font-weight: 900;
}


sup {
    /* font-size: 3rem; */
    margin-top: -2rem;
}

.data_hide {

    visibility: hidden;
    transition: all 0.3s linear;

}

.bk {
    margin-bottom: 20px;
}

.navbar-light a {
    color: white !important;
}

.w-con {
    display: flex;
    max-width: 500px;
    margin: auto;
    justify-content: space-between;

}

.temp_info {
    /* flex: 1; */
    width: 80%;
}

.w-box {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--main-bg);
    width: 50px;
    border-radius: 7px;
}

.w-item {
    color: white;
    cursor: pointer;
}

.all-item-other {
    color: white;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.all-other {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.f-big {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bar_box {
    background-color: var(--main-bg);
    color: white;
    width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    /* padding: 0px 10px; */
}

.bar_box span {
    cursor: pointer;
    padding: 10px 8px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bar_box span:hover {
    color: var(--main-bg);
    background-color: white;
    transition: all .5s ease;

}


@media(max-width:409px) {
    .temp_info {
        width: 80%;
        font-size: 1rem;
    }

    .temp_form {
        width: 90%;
        /* font-size: 0.8rem; */
    }

    .main_layer #city_name_given {

        font-size: 1rem;
    }

    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa {
        font-size: 2rem;
        font-weight: 900;
    }

    .temp_form input[type='submit'] {

        padding: 0 1.1rem;
        border-radius: 3rem;
        color: white;
        font: 0.9rem;


    }

    .temp_form input[type='text'] {
        font-size: 0.9rem;
        border-radius: 3rem;
    }

    .all-other {
        font-size: 12px;
    }

    .f-big {
        font-size: 1rem!important;

    }

    .inside-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .all-other {
        flex-direction: column;
    }
    .bar_box {
        font-size: 12px;
        width: 100%;
    }



}

@media(max-width:335px) {
    .temp_info {
        width: 100%;
        font-size: 1rem;
    }

    .temp_form {
        width: 100%;
        /* font-size: 0.8rem; */
    }

}

.c-site{
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.in{
    margin: 21px;
    width: 50%;
    padding: 10px;
    border-radius: 14px;
    border: 2px solid grey;
}


.btn-c-in{
    padding: 4px 25px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 7px;
}